<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @d_department.key %>
</p>

<p>
  <b>Value:</b>
  <%= @d_department.value %>
</p>


<%= link_to 'Edit', edit_d_department_path(@d_department) %> |
<%= link_to 'Back', d_departments_path %>
