<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @position.key %>
</p>

<p>
  <b>Value:</b>
  <%= @position.value %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
