<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @b_department.key %>
</p>

<p>
  <b>Value:</b>
  <%= @b_department.value %>
</p>


<%= link_to 'Edit', edit_b_department_path(@b_department) %> |
<%= link_to 'Back', b_departments_path %>
